extends inc/layout.pug

block content
  -var current_active="home" // navigator needs this var
  include inc/navigator.pug
  div(class="container page-home")
    div.row
      div.col
        h2 Bienvenido a Cispe #{title}
      div.barr
        img.logocispe(src=("/wp-content/themes/pwawptheme/images/cispe-blanco.png"))
      p
  // ?php bloginfo('description' ); ?

  

